@import "../../Styles//Variables.scss";

.Menu{
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        .title{
            font-weight: 200;
            font-size: 12px;
            color: $soft-color;
            text-transform: uppercase;
        }
        .listItem{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;

            &:hover{
                background-color: $soft-bg;
            }
            .listItemTitle{

            }
        }
    }
}