@import "./Variables.scss";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
}

.main {
    background-color: $main-bg;
    color : $main-color;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
}

.menuContainer{
    width: 250px;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;
}
.contentContainer{
    padding: 5px 20px ;
    width: 100%;
}